<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <html>
      <head>
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      </head>

<form>


  <div class="outer">
      <div class="container">
          <div class="row">
              <div class="offset">
              <div class="panel border bg-grey">
                  <div class="header h-100"></div>
                  <div class="panel-heading">
                      <img src="/assets/pq.jpg" width="500" height="300">
                      <h3 class="pt-3 font-weight-bold"></h3>

                  </div>
                  <div class="panel-body">
          Username:  <input type="text" [(ngModel)]="Username">
           <span class="fa fa-user"></span>

      <div>


        <span class="fa fa-lock"></span>
          Password: <input type="password" [(ngModel)]="Password" autocomplete="current-password" required>
      <button type="submitloginForm.invalid"  routerLink="/mean">login</button>

      <div class="card-footer text-right">


        <small><a routerLink="../forgot-password">Forget Password</a></small>
     </div>
  <div class="text-center pt-4 text-muted">don't have account? <a id="forget " routerLink="/signup">signup</a>
  </div>
      </div>






